.cabecalho {
    align-items: center;
    border-bottom: solid 1px var(--roxo-medio);
    box-sizing: border-box;
    color: var(--rosa-escuro);
    display: flex;
    flex-direction: column;
    padding-bottom: .75rem;
    padding-top: .75rem;
    position: absolute;
    width: 100%;
    }
.cabecalho__logo {
    margin-bottom: 1rem;
}
.cabecalho__navegacao {
    text-align: center;
}
.cabecalho__link {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
    margin-right: .7rem;
    text-transform:uppercase;
}

/*desktop*/
@media screen and (min-width: 1024px) {
    .cabecalho{
        flex-direction: row;
        justify-content: space-between;
    }
}