.contato {
    align-items: center;
    color: var(--rosa-escuro);
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}
.contato__titulo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-align: center;
    text-transform: uppercase;
}
.contato__texto{
    color: var(--azul-escuro);
}
.contato__botao {
    border-color: var(--rosa-escuro);
    margin-top: 1.5rem;
}

/*tablet*/
@media screen and (min-width: 768px){
    .contato__texto{
        padding: 0 5rem;
    }
    .contato__botao{
        font-size: 1.15rem;
    }
}