.planos {
    background-color: var(--azul-claro);
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.planos__titulo {
    color: var(--azul-escuro);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2.25rem;
    text-align: center;
    text-transform: uppercase;
}
.planos__caixas {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caixa {
    background-color: var(--branco);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    max-width: 300px;
    width: 100%;
}
.caixa__titulo {
    border-bottom: 1px solid var(--cinza);
    font-size: 1.45rem;
    font-weight: 500;
    margin-bottom: .5rem;
    padding: .75rem 0;
    text-align: center;
}
.caixa__conteudo {
    padding: 0 15%;
}
.caixa__preco {
    font-size: 2.75rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    text-align: center;
}
.caixa__texto {
    color: var(--fonte-cinza);
    line-height: 28px;
    text-align: center;
}
.caixa__botao {
    align-self: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: .75rem 2rem;
    width: 100%;
}
.caixa--pequena {
    border-bottom: 1px solid var(--rosa-escuro);
    box-shadow: 0 2px 10px 2px var(--rosa-claro);
    color: var(--rosa-escuro);
}
.caixa--media {
    box-shadow: 0 2px 10px 2px var(--roxo-medio);
    color: var(--roxo-escuro);
}
.caixa--grande {
    box-shadow: 0 2px 10px 2px var(--azul-medio);
    color: var(--azul-escuro);
}
.caixa__botao--pequena {
    border-color: var(--rosa-escuro);
}
.caixa__botao--media {
    border-color: var(--roxo-escuro);
}
.caixa__botao--grande {
    border-color: var(--azul-escuro);
}
.ponto{
    background-image: url(/assets/imagem/ponto.png);
    background-position: top 0.4rem left 0.95rem;
    background-repeat: no-repeat;
}