.principal{
    align-items: center;
    background-color: var(--roxo-claro);
    color: var(--azul-escuro);
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
    padding-top: 12.25rem;
    text-align: center;
}
.principal__titulo {
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 3rem;
    text-transform: uppercase;
}
.principal__texto {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: normal;
    margin: 1rem 2.5rem;
}
.principal__botao {
    margin: 1.5rem 0;
    width:100%;
}
/*tablet*/
@media screen and (min-width: 768px){ 
    .principal__titulo{
        margin-top: 1rem; 
    } 
}

/*desktop*/
@media screen and (min-width: 1024px){
    .principal__titulo{
        margin-top: 0;
    }
    .principal__texto{
        margin: 1rem 9rem;
    }
}