:root{
    --azul-claro: #e6f2ff;
    --azul-medio:#9784e1;
    --azul-escuro: #2d1e67;
    --roxo-claro: #f2dcfe;
    --roxo-medio: #e4b0fa;
    --roxo-escuro: #6b0080;
    --rosa-claro: #f0c4d3;
    --rosa-medio:#e2a6b7;
    --rosa-escuro: #c23a71;
    --branco: #ffffff;
    --cinza: #e7dbdb;
}
body{
    font-family: 'Readex Pro', sans-serif;
}
.container{
    padding: 0 6%;
}
.botao{
    border: solid 1px var(--azul-escuro) ;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    max-width: 350px;
    padding: 1rem 2rem;
    text-align: center;
}
.botao:hover{
    background-image:linear-gradient( to right, #b70b54 33%, #6f156c, #1f277a);
    border: none;
    color:var(--branco);
}

/*desktop*/
@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}
