:root{
    --azul-claro: #e6f2ff;
    --azul-medio:#b4b6e0;
    --azul-escuro: #2d1e67;
    --roxo-claro: #f7effb;
    --roxo-medio: #e2b9f3;
    --roxo-escuro: #600472;
    --rosa-claro: #f7dce4;
    --rosa-medio:#f0688f;
    --rosa-escuro: #bb3e70;
    --branco: #ffffff;
    --cinza: #e7dbdb;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Readex Pro', sans-serif;
}
.container{
    padding: 0 6%;
}
.botao{
    background-image:linear-gradient(to top, var(--rosa-escuro)15%, var(--roxo-escuro), var(--azul-escuro));
    border-radius: 5px;
    box-sizing: border-box;
    color:var(--branco);
    display: block;
    max-width: 350px;
    padding: 1rem 2rem;
    text-align: center;
}
.botao:hover{
    background-image: var(--roxo-claro);
    color:var(--azul-escuro);
}

/*desktop*/
@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}
